body {
    margin: 0px;
    padding: 0px;
}

#fondmenu {
    width: 100%;
    height: 50px;
    background: linear-gradient(#d9b30b, #fad787);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2),
			    0px 1px 0px 1px rgba(255, 255, 255, 0.5) inset,
			    0px -3px 0px 1px rgba(0, 0, 0, 0.1) inse
}

#menu  {
    font-family: 'Trebuchet MS';
    margin-right: auto;
    margin-left: auto;
    display: table;
    padding: 0px;
    margin-top: 0px;
}

#menu li {
    display: table-cell;
    width: 180px;
    transition: 1s;
}

#menu li:hover {
    width: 190px;
    transition: 1s;

}

#menu a {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 46px;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    transition: text-shadow, color 1s;
    position: relative;
}

#menu a:hover {
    color: black;
    text-shadow: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    transition: text-shadow, color 1s;
    border-bottom: 4px solid rgba(255, 255, 255, 0.8);
}

#menu a::before {
    content: '';
    width: 0px;
    height: 0px;
    transition: 1s;
    position: absolute;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, 0.2);
    left: 50%;
    bottom: 5px;
}

#menu a:hover::before{
	border-color: rgba(255, 255, 255, 0.5) transparent transparent;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	transition:1s
}

#imgjonestown {
    position: relative;
    float: left;
    width: 50%;
    padding: 20px;
    border: none;
    top: 5%;
}

#h1titre {
    font-family: 'Trebuchet MS';
    font-size: 75px;
    position: absolute;
    top: 5%;
    left: 55%;
}

#paragraphefaux {
    position: absolute;
    top: 20%;
    left: 55%;
    font-family: 'Trebuchet MS';
    font-size: 20px;
}

#pdt {
    font-size: 1px;
}

#pcopy {
    font-family: 'Trebuchet MS';
    font-size: 5px;
}

#btn {
    font-family: 'Trebuchet MS';
}

#yomen {
    text-decoration: none;
    color: black;
}

#weshpoto {
    text-decoration: none;
    color: black;
}





